.content {
  padding: 50px;
  border-radius: 4px;
}

.ant-spin-spinning {
  position: absolute;
  top: 180%;
  left: 50%;
  display: inline-block;
  opacity: 1;
}

.ant-tabs-content-holder {
  width: 100%;
}
